@{
    ViewData["Title"] = "Email Confirmed";
}

<h1>Your e-mail address has been confirmed!</h1>

<hr/>

<p>
    <a asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.Index)">To your profile page</a>
</p>
<p>
    <a asp-controller="@HomeController.Controllername" asp-action="@nameof(HomeController.Index)">Back to the website</a>
</p>


@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
