@{
    ViewData["Title"] = "Choose a username";
    var returnUrl = (string)ViewData["returnUrl"];
    var existingUsername = (string)ViewData["ExistingUsername"];
}

@model ExternalLoginCallbackModel

<h1>Login was successful!</h1>
<p>What <strong>username</strong> would you like to use for this website in the future?</p>

@Html.ValidationSummary()

<div style="max-width: 1200px; margin: 0 auto;">
    <form method="post" asp-route-returnUrl="@returnUrl">
        <input asp-for="LoginProvider" type="hidden" />
        <div class="fc">
            <label asp-for="UserName"></label>
            <input type="text" asp-for="UserName" value="@existingUsername" />
            <div class="error-message"></div>
        </div>
        <div>
            <button type="submit">Create Profile</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
