@{
    ViewData["Title"] = "Choose a username";
    var returnUrl = (string)ViewData["returnUrl"];
    var existingUsername = (string)ViewData["ExistingUsername"];
}

@model ExternalLoginCallbackModel

<h1>Login was successful!</h1>
<p>What <strong>username</strong> would you like to use for this website in the future?</p>

<form method="post" asp-route-returnUrl="@returnUrl">
    <input asp-for="LoginProvider" type="hidden" />

    <section class="myaccount-grid">
        <div>
            <label asp-for="UserName"></label>
        </div>
        <div>
            <input type="text" asp-for="UserName" value="@existingUsername" />
            <div class="error-message"></div>
        </div>

        <div class="width-two">
            <button type="submit">Create Profile</button>
        </div>
    </section>
</form>

@section Scripts {
    <script src="~/js/dist/validation.min.js" asp-append-version="true"></script>
}


@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
