@{ 
    ViewData["Title"] = "Forgot Password";
}

@model ForgotPasswordModel

<h1>Password Reset</h1>

<p>
    Please enter the e-mail address that is registered with your account 
    and a password reset link will be sent to you!
</p>

<form method="post">
    <div>
        <label asp-for="Email"></label>
        <input type="text" data-required data-email />
        <div class="error-message"></div>
    </div>
    <div>
        <button type="submit">Send Password Reset Link</button>
    </div>
</form>