@{ 
    ViewData["Title"] = "Forgot Password";
}

@model ForgotPasswordModel

<h1>Password Reset</h1>

<p>
    Please enter the e-mail address that is registered with your account 
    and a password reset link will be sent to you!
</p>

<form method="post">
    <section class="myaccount-grid">
        <div>
            <label asp-for="Email"></label>
        </div>
        <div>
            <input type="text" asp-for="Email" data-required data-email />
            <div class="error-message"></div>
        </div>
        <div class="width-two">
            <button type="submit">Send Password Reset Link</button>
        </div>
    </section>
</form>