@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
<p>
    Click here to log yourself out:
</p>

<form method="post">
    <button type="submit">Logout</button>
</form>


@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
