@{ 
    ViewData["Title"] = "Password Reset Failed";
}

<h1>An error occurred while creating the new password</h1>

<p>
    Maybe the reset link expired! You can go back to the 
    <a asp-controller="@AccountController.Controllername" asp-action="@nameof(AccountController.ForgotPassword)">
        password reset page
    </a> 
    and request a new link!
</p>

