@{ 
    ViewData["Title"] = "Password Reset Succeeded!";
}

<h1>Your password has been reset!</h1>

<p>
    You can now 
    <a asp-controller="@AccountController.Controllername" asp-action="@nameof(AccountController.Login)">
        Go to the login page
    </a>
    and log yourself in again!
</p>

