@{
    ViewData["Title"] = "New Account";
    string returnUrl = (string)ViewData["returnUrl"];
}

@model RegisterModel

<h1>New Account</h1>

@Html.ValidationSummary()

<div style="max-width: 1200px; margin: 0 auto;">
    <form method="post" asp-route-returnUrl="@returnUrl">
        <section class="form-area">
            <div class="fc">
                <label asp-for="Username" class="use-first-two-grid-cells"></label>
                <input type="text" asp-for="Username" data-required />
                <div class="error-message"></div>
            </div>
            <div class="fc">
                <label asp-for="Email" class="use-first-two-grid-cells"></label>
                <input type="text" asp-for="Email" data-required data-email />
                <div class="error-message"></div>
            </div>
            <div class="fc">
                <label asp-for="Password" class="use-first-two-grid-cells"></label>
                <input type="password" asp-for="Password" data-required />
                <div class="error-message"></div>
            </div>
            <div class="fc">
                <label asp-for="PasswordConfirm" class="use-first-two-grid-cells"></label>
                <input type="password" asp-for="PasswordConfirm" data-required />
                <div class="error-message"></div>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </section>
    </form>
</div>


@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}

