@{ 
    ViewData["Title"] = "Password Reset";
}

@model ResetPasswordModel

<h1>Password Reset</h1>

@Html.ValidationSummary()

<form method="post">
    <input type="hidden" asp-for="Code"/>
    <div>
        <label asp-for="EmailOrUsername"></label>
        <input type="text" data-required />
        <div class="error-message"></div>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input type="password" data-required />
        <div class="error-message"></div>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input type="password" data-required />
        <div class="error-message"></div>
    </div>
    <div>
        <button type="submit">Reset Password</button>
    </div>
</form>