<style>
    ol li {
        padding: 0;
        font-size: 0.8rem;
        font-family: sans-serif;
    }
</style>
<main class="l" style="margin: 0 auto; width: 70%; border-left: 2px dashed rgba(255,255,255,0.2)">
    <h1>All Tags</h1>
    <hr />
    <ol start="0">
        <li>Unspecified</li>
        <li>Changes Drop Behavior</li>
        <li>Changes Item Behavior</li>
        <li>Modifies Familiars</li>
        <li>Can Spawn Flies</li>
        <li>Can Spawn Spiders</li>
        <li>Damage Reduction</li>
        <li>Invincibility</li>
        <li>Changes Bomb Behavior</li>
        <li>Room Damage</li>
        <li>Hp Regeneration</li>
        <li>Map Reveal</li>
        <li>Time Manipulation</li>
        <li>Splash Damage</li>
        <li>Recharge</li>
        <li>Beams from Heaven</li>
        <li>Triggers on Getting Hit</li>
        <li>Generates Item</li>
        <li>Damages Self on use</li>
        <li>Size Up</li>
        <li>Size Down</li>
        <li>Teleport</li>
        <li>Drops Keys</li>
        <li>Drops Bombs</li>
        <li>Drops Batteries</li>
        <li>Drops Red Hearts</li>
        <li>Drops Spirit Hearts</li>
        <li>Drops Rotten Hearts</li>
        <li>Drops Eternal Hearts</li>
        <li>Drops Bone Hearts</li>
        <li>Drops Black Hearts</li>
        <li>Drops Immortal Hearts</li>
        <li>Drops Tarot Cards</li>
        <li>Drops Trinkets</li>
        <li>Drops Pills</li>
        <li>Drops Chests</li>
        <li>Drops Sacks</li>
        <li>Drops Runes</li>
        <li>Drops Pennies</li>
        <li>Adds Keys</li>
        <li>Adds Bombs</li>
        <li>Adds RedHearts</li>
        <li>Adds Spirit Hearts</li>
        <li>Adds Rotten Hearts</li>
        <li>Adds Eternal Hearts</li>
        <li>Adds Bone Hearts</li>
        <li>Adds Black Hearts</li>
        <li>Adds Immortal Hearts</li>
        <li>Adds Tarot Cards</li>
        <li>Adds Trinkets</li>
        <li>Adds Pills</li>
        <li>Adds Runes</li>
        <li>Adds Pennies</li>
        <li>Charm</li>
        <li>Beam</li>
        <li>Poison</li>
        <li>Slow</li>
        <li>Fear</li>
        <li>Explosion</li>
        <li>Freeze</li>
        <li>Burn</li>
        <li>Confuse</li>
        <li>Spectral</li>
        <li>Homing</li>
        <li>Piercing</li>
        <li>Shrink</li>
        <li>Bleed</li>
        <li>Extra Tears</li>
        <li>Visual Tear Change</li>
        <li>Changes Devil Deal Behavior</li>
        <li>Changes Tear Behavior</li>
        <li>Changes Enemy Behavior</li>
        <li>Flight</li>
        <li>Extra Lives</li>
        <li>Explosion Immunity</li>
        <li>Adds Charge Bar</li>
        <li>Creep</li>
        <li>Walk Over Gaps</li>
        <li>More Trinket Space</li>
        <li>More Consumable Space</li>
        <li>Curse Up</li>
        <li>Evil Up</li>
        <li>Evil Down</li>
        <li>Faith Up</li>
        <li>Faith Down</li>
        <li>Knockback Up</li>
        <li>Knockback Down</li>
        <li>Tear Height Up</li>
        <li>Tear Height Down</li>
        <li>Sin Up</li>
        <li>Tear Size Up</li>
        <li>Tear Size Down</li>
        <li>Damage Up Temporary</li>
        <li>Speed Up Temporary</li>
        <li>Shot Speed Up Temporary</li>
        <li>Tears Up Temporary</li>
        <li>Health Up Temporary</li>
        <li>Range Up Temporary</li>
        <li>Luck Up Temporary</li>
        <li>Damage Up</li>
        <li>Speed Up</li>
        <li>Shot Speed Up</li>
        <li>Tears Up</li>
        <li>Health Up</li>
        <li>Range Up</li>
        <li>Luck Up</li>
        <li>Damage Down Temporary</li>
        <li>Speed Down Temporary</li>
        <li>Shot Speed Down Temporary</li>
        <li>Tears Down Temporary</li>
        <li>Health Down Temporary</li>
        <li>Range Down Temporary</li>
        <li>Luck Down Temporary</li>
        <li>Damage Down</li>
        <li>Speed Down</li>
        <li>Shot Speed Down</li>
        <li>Tears Down</li>
        <li>Health Down</li>
        <li>Range Down</li>
        <li>Luck Down</li>
        <li>Randomizes Stats</li>
        <li>Damage Multiplier</li>
        <li>Can Reroll Item Pedestals</li>
        <li>Can Reroll Pickups</li>
        <li>Can Reroll Character</li>
        <li>Can Reroll Rocks</li>
        <li>Can Reroll Stats</li>
        <li>Can Reroll Floor</li>
        <li>Can Reroll Enemies</li>
        <li>Can Reroll Room</li>
        <li>Aura</li>
        <li>Removes Curse</li>
        <li>Adds Curse</li>
        <li>Spawns Familiar or Orbital</li>
        <li>Spike Immunity</li>
        <li>Random Status Effect</li>
        <li>Changes Chest Behavior</li>
        <li>Has Random Effect</li>
        <li>Crushes Rocks</li>
        <li>Is Spacebar Item</li>
        <li>Is Passive Item</li>
        <li>Is Familiar</li>
        <li>Is Double Trouble Bossfight</li>
        <li>Is Normal Bossfight</li>
        <li>Is Good Pill</li>
        <li>Is Bad Pill</li>
        <li>Is 3-Step Transformation</li>
        <li>Is 2-Step Transformation</li>
        <li>Absorbs Other Items</li>
        <li>Appears on Basement One</li>
        <li>Appears on Basement Two</li>
        <li>Appears on Basement Xl</li>
        <li>Appears on Cellar One</li>
        <li>Appears on Cellar Two</li>
        <li>Appears on Cellar Xl</li>
        <li>Appears on Burning Basement One</li>
        <li>Appears on Burning Basement Two</li>
        <li>Appears on Burning Basement Xl</li>
        <li>Appears on Blue Womb</li>
        <li>Appears on Catacombs One</li>
        <li>Appears on Catacombs Two</li>
        <li>Appears on Catacombs Xl</li>
        <li>Appears on Cathedral</li>
        <li>Appears on Caves One</li>
        <li>Appears on Caves Two</li>
        <li>Appears on Caves Xl</li>
        <li>Appears on Chest</li>
        <li>Appears on Corpse One</li>
        <li>Appears on Corpse Two</li>
        <li>Appears on Corpse Xl</li>
        <li>Appears on Dank Depths One</li>
        <li>Appears on Dank Depths Two</li>
        <li>Appears on Dank Depths Xl</li>
        <li>Appears on Dark Room</li>
        <li>Appears on Depths One</li>
        <li>Appears on Depths Two</li>
        <li>Appears on Depths Xl</li>
        <li>Appears on Downpour One</li>
        <li>Appears on Downpour Two</li>
        <li>Appears on Downpour Xl</li>
        <li>Appears on Flooded Caves One</li>
        <li>Appears on Flooded Caves Two</li>
        <li>Appears on Flooded Caves Xl</li>
        <li>Appears on Greed Mode - Basement</li>
        <li>Appears on Greed Mode - Caves</li>
        <li>Appears on Greed Mode - Depths</li>
        <li>Appears on Greed Mode - Sheol</li>
        <li>Appears on Greed Mode - The Shop</li>
        <li>Appears on Greed Mode - Ultra Greed</li>
        <li>Appears on Greed Mode - Womb</li>
        <li>Appears on Mausoleum One</li>
        <li>Appears on Mausoleum Two</li>
        <li>Appears on Mausoleum Xl</li>
        <li>Appears on Mines One</li>
        <li>Appears on Mines Two</li>
        <li>Appears on Mines Xl</li>
        <li>Appears on Necropolis One</li>
        <li>Appears on Necropolis Two</li>
        <li>Appears on Necropolis Xl</li>
        <li>Appears on Scarred Womb One</li>
        <li>Appears on Scarred Womb Two</li>
        <li>Appears on Scarred Womb Xl</li>
        <li>Appears on Sheol</li>
        <li>Appears on The Void</li>
        <li>Appears on Utero One</li>
        <li>Appears on Utero Two</li>
        <li>Appears on Utero Xl</li>
        <li>Appears on Womb One</li>
        <li>Appears on Womb Two</li>
        <li>Appears on Womb Xl</li>
        <li>Comes After Basement One</li>
        <li>Comes After Basement Two</li>
        <li>Comes After Basement Xl</li>
        <li>Comes After Cellar One</li>
        <li>Comes After Cellar Two</li>
        <li>Comes After Cellar Xl</li>
        <li>Comes After Burning Basement One</li>
        <li>Comes After Burning Basement Two</li>
        <li>Comes After Burning Basement Xl</li>
        <li>Comes After Blue Womb</li>
        <li>Comes After Catacombs One</li>
        <li>Comes After Catacombs Two</li>
        <li>Comes After Catacombs Xl</li>
        <li>Comes After Cathedral</li>
        <li>Comes After Caves One</li>
        <li>Comes After Caves Two</li>
        <li>Comes After Caves Xl</li>
        <li>Comes After Chest</li>
        <li>Comes After Corpse One</li>
        <li>Comes After Corpse Two</li>
        <li>Comes After Corpse Xl</li>
        <li>Comes After Dank Depths One</li>
        <li>Comes After Dank Depths Two</li>
        <li>Comes After Dank Depths Xl</li>
        <li>Comes After Dark Room</li>
        <li>Comes After Depths One</li>
        <li>Comes After Depths Two</li>
        <li>Comes After Depths Xl</li>
        <li>Comes After Downpour One</li>
        <li>Comes After Downpour Two</li>
        <li>Comes After Downpour Xl</li>
        <li>Comes After Flooded Caves One</li>
        <li>Comes After Flooded Caves Two</li>
        <li>Comes After Flooded Caves Xl</li>
        <li>Comes After Greed Mode - Basement</li>
        <li>Comes After Greed Mode - Caves</li>
        <li>Comes After Greed Mode - Depths</li>
        <li>Comes After Greed Mode - Sheol</li>
        <li>Comes After Greed Mode - The Shop</li>
        <li>Comes After Greed Mode - Ultra Greed</li>
        <li>Comes After Greed Mode - Womb</li>
        <li>Comes After Mausoleum One</li>
        <li>Comes After Mausoleum Two</li>
        <li>Comes After Mausoleum Xl</li>
        <li>Comes After Mines One</li>
        <li>Comes After Mines Two</li>
        <li>Comes After Mines Xl</li>
        <li>Comes After Necropolis One</li>
        <li>Comes After Necropolis Two</li>
        <li>Comes After Necropolis Xl</li>
        <li>Comes After Scarred Womb One</li>
        <li>Comes After Scarred Womb Two</li>
        <li>Comes After Scarred Womb Xl</li>
        <li>Comes After Sheol</li>
        <li>Comes After The Void</li>
        <li>Comes After Utero One</li>
        <li>Comes After Utero Two</li>
        <li>Comes After Utero Xl</li>
        <li>Comes After Womb One</li>
        <li>Comes After Womb Two</li>
        <li>Comes After Womb Xl</li>
        <li>Is First Floor</li>
        <li>Temporary Size Up</li>
        <li>Temporary Size Down</li>
        <li>Single Use</li>
        <li>Drops Random Consumables</li>
        <li>Spawns Troll Bombs</li>
        <li>Is Orbital</li>
        <li>Targets or homes in on Enemies</li>
        <li>Contact Damage</li>
        <li>Blocks Enemy Shots</li>
        <li>Spawns Fire</li>
        <li>Modifies Deal Chance</li>
        <li>Steals Consumables</li>
        <li>Sets Enemies on Fire</li>
        <li>Farting</li>
    </ol>
</main>