/* forms & validation */
.invalid {
    box-shadow: 0 0 10px orange;
}
form {
    display: block;
}
input[type=text], input[type=password], textarea {
    padding: 0.2rem;
    background-color: beige;
    border-radius: 0.3rem;
}
input[type=text]:focus, input[type=password]:focus {
    outline: none;
}
button {
    margin: 0.4rem;
}
label {
    margin-right: 0.4rem;
    text-align: right;
    display: inline-block;
}
textarea:active, textarea:focus {
    outline: none;
}

button {
    background-color: beige;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.3rem;
    cursor: pointer;
}

button[disabled=true] {
    cursor: not-allowed;
}

button:hover {
    border-color: orange;
}

button:focus {
    outline: none;
}

.btn-green {
    background-color: yellowgreen;
    border-color: lawngreen;
}

.btn-green:hover {
    border-color: darkgreen;
}

.btn-orange {
    background-color: yellow;
    border-color: gold;
}

.btn-orange:hover {
    border-color: darkgoldenrod;
}

.btn-red {
    background-color: orange;
    border-color: orangered;
}

.btn-red:hover {
    border-color: red;
}

button[disabled] {
    cursor: not-allowed;
}

button[disabled=false] {
    cursor: pointer;
}

form .fc {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas: ". label input .";
    grid-gap: 0.2rem;
    margin: 0.5rem;
}
.fc label {
    text-align: right;
    grid-area: label;
}
.fc input, .fc select {
    grid-area: input;
}