div, body, html, main, nav, footer {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-width: 1200px;
}
body {
    background-color: #000;
    background-image: url('/img/background.jpg'), url('/img/background2.jpg');
    background-position: top left, top right;
    background-repeat: repeat-y, repeat-y;
    color: white;
    display: flex;
    align-items: stretch;
    overflow:no-content;
}
a, a:visited, a:active {
    color: white;
}
a:hover {
    color: lightgray;
}

.l {
    text-align: left;
}
.r {
    text-align: right;
}
.c {
    text-align: center;
}
.display-inline {
    display: inline-block;
}
.display-normal {
    display: normal;
}
.display-none {
    display: none;
}
.display-table-cell {
    display: table-cell;
}
.gray {
    color: gray;
}
.w80 {
    width: 80%;
}
.w20 {
    width: 20%;
}
.w90 {
    width: 90%;
}
.w10 {
    width: 10%;
}
.w100 {
    width: 100%;
}
button {
    background-color: beige;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.3rem;
    cursor: pointer;
}
button:hover {
    border-color: orange;
}
button:focus {
    outline: none;
}

.btn-green {
    background-color: yellowgreen;
    border-color: lawngreen;
}
.btn-green:hover {
    border-color: darkgreen;
}
.btn-red {
    background-color: orange;
    border-color: orangered;
}
.btn-red:hover {
    border-color: red;
}

.red {
    color: red;
}
.green {
    color: green;
}
.hand {
    cursor: pointer;
}
.orange {
    color: orange;
}