div, body, html, main, nav, footer {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-width: 1200px;
    height: 100%;
}
body {
    background-color: #000;
    background-image: url('/img/background.jpg'), url('/img/background2.jpg');
    background-position: top left, top right;
    background-repeat: repeat-y, repeat-y;
    color: white;
    display: flex;
    align-items: stretch;
    overflow: no-content;
    min-height: 100%;
    position: relative;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0.5rem;
}
a, a:visited, a:active {
    color: white;
}
a:hover {
    color: lightgray;
}

li {
    padding: 0.2rem 0;
}

.l {
    text-align: left;
}
.r {
    text-align: right;
}
.c {
    text-align: center;
}
.display-inline {
    display: inline-block;
}
.display-normal {
    display: normal;
}
.display-none {
    display: none !important;
}
.display-table-cell {
    display: table-cell;
}
.gray {
    color: gray;
}
.w80 {
    width: 80%;
}
.w20 {
    width: 20%;
}
.w90 {
    width: 90%;
}
.w10 {
    width: 10%;
}
.w100 {
    width: 100%;
}

.red {
    color: red;
}
.green {
    color: green;
}
.hand {
    cursor: pointer;
}
.progress {
    cursor: progress;
}
.orange {
    color: orange;
}
hr {
    border: none;
    border-top: 2px dashed rgba(255,255,255,0.2);
    background-color: transparent;
}
.mono {
    font-family: "Courier New", Courier, monospace;
}
.u {
    text-decoration: underline;
}
.selected-tag {
    padding: 0.3rem;
    margin: 0.3rem;
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid white;
    border-radius: 0.3rem;
}