/* iri = isaac resource image, shortened to save bytes because it's used a lot! */
.iri {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: visible;
    z-index: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
