#modal {
    width: 100%;
    min-height: 100%;
    z-index: 100000;
    background-color: rgba(255,255,255,0.3);
    position: fixed;
    top: 0;
    left: 0;
}

.modal-container {
    width: 50%;
    margin: 1rem auto;
    z-index: 100001;
    position: fixed;
    height: auto;
    top: 20px;
    left: 25%;
    border: 3px solid white;
    background-color: black;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 1rem white;
}