#quotes-textarea, #submit-topic-textarea {
    border-radius: 0.5rem;
    background-color: beige;
    padding: 0.3rem;
    margin-right: 0.3rem;
}

#quotes-textarea:focus, #submit-topic-textarea:focus {
    outline: none;
}

.submit-quote-error {
    color: orange;
}

.submit-quote-error:hover {
    cursor: pointer;
}

#current-player-container {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 0.5rem;
    background-color: rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 0.2rem;
}

.change-player-container-modifier {
    background-color: red !important;
    border-color: red !important;
}

#submit-topic-container {
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
}