#quotes-textarea, #submit-topic-textarea {
    border-radius: 0.5rem;
    background-color: beige;
    padding: 0.3rem;
    margin-right: 0.3rem;
}

#quotes-textarea:focus, #submit-topic-textarea:focus {
    outline: none;
}

.submit-quote-error {
    color: orange;
}

.submit-quote-error:hover {
    cursor: pointer;
}

