.floor-progress h4, .floor-progress p {
    margin: 0.5rem;
}

.played-character {
    width: 500px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 1rem auto;
}

#transformation-stats-wrapper {
    display: flex;
}

.transformation-stats-set {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.transformation-stats-block {
    width: 40px;
    height: 35px;
    background-color: red;
    border: 1px solid white;
}

.transformation-stats-set .transformation-stats-block:last-of-type {
    background-color: inherit;
    position: relative;
    border: none;
}

.transformation-stats-item-box {
    background-color: rgba(255,255,255,0.2);
    border-radius: 0.2rem;
    padding: 0.4rem;
    margin: 0.4rem;
}