#video-page-tables {
    display: flex;
}
.player-one {
    color: green;
}
.player-two {
    color: purple;
}


#global-stats {
    height: 310px;
    width: 90%;
    margin: 1rem auto;
    background-color: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: nowrap
}

#timeline-container > div {
    display: flex;
}

#timeline-container > div > div {
    height: 40px;
    position: relative;
}