@{ 
    ViewData["Title"] = "Submit Episode";
}

@model List<IsaacResource>

<div>
    <partial name="_DropdownPartial" />
</div>

@section Scripts {
    <script src="~/js/dist/dropdown_menu.min.js"></script>
}