@{ 
    ViewData["Title"] = "Submit Episode";

    var characters = Model.Where(x => x.ResourceType == ResourceType.Character).ToList();
    var selectCharacterModel = new ResourceSelection("select-character-boxes", characters);

    var gameModes = new ResourceSelectionTextonly("select-mode-boxes", new List<(string name, int value)>()
    {
        ("Regular Game", (int)GameMode.Normal),
        ("Greed Mode", (int)GameMode.Greed),
        ("Special Challenge", (int)GameMode.SpecialChallenge),
        ("Something Else", (int)GameMode.Unspecified)
    });

    var floors = Model.Where(x => x.ResourceType == ResourceType.Floor).ToList();
    var firstFloors = floors.Where(x => x.Name == "Basement 1" || x.Name == "Cellar 1" || x.Name == "Burning Basement 1" || x.Name == "Greed Mode - Basement").ToList();
    var floorsModel = new ResourceSelection("select-floor-dd", floors);
    var firstFloorsModel = new ResourceSelection("select-floor-boxes", firstFloors);

    var curses = Model.Where(x => x.ResourceType == ResourceType.Curse).ToList();
    var cursesModel = new ResourceSelection("select-curse-dd", curses);
    
    var items = Model.Where(x => x.ResourceType == ResourceType.Item).ToList();
    var itemsModel = new ResourceSelection("select-item-dd", items);
    var touchedItemsModel = new ResourceSelection("select-touched-item-dd", items);

    var itemSources = Model.Where(x => x.ResourceType == ResourceType.ItemSource).ToList();
    var itemSourceModel = new ResourceSelection("select-item-source-dd", itemSources);
    var itemSourceTopTenModel = new ResourceSelection("select-item-source-boxes", itemSources.Take(10).ToList());
    var touchedItemSourceModel = new ResourceSelection("select-touched-item-source-dd", itemSources);
    var touchedItemSourceTopTenModel = new ResourceSelection("select-touched-item-source-boxes", itemSources.Take(10).ToList());

    var absorbers = Model.Where(x => x.Tags != null && x.Tags.Contains(Effect.AbsorbsOtherItems)).ToList();
    var absorbersModel = new ResourceSelection("select-absorber-boxes", absorbers);
    var absorbedItemModel = new ResourceSelection("select-absorbed-item-dd", items);

    var bosses = Model.Where(x => x.ResourceType == ResourceType.Boss).ToList();
    var bossModel = new ResourceSelection("select-boss-dd", bosses);
    var bossModelTop10 = new ResourceSelection("select-boss-boxes", bosses.Where(x => x.Name.IndexOf("Double") == -1).Take(10).ToList());

    var rerolls = Model.Where(x => x.ResourceType == ResourceType.CharacterReroll).ToList();
    var rerollModel = new ResourceSelection("select-reroll-boxes", rerolls);

    var enemies = Model.Where(x => x.ResourceType == ResourceType.Enemy).ToList();
    var enemiesModel = new ResourceSelection("select-enemies-dd", enemies);

    var pills = Model.Where(x => x.ResourceType == ResourceType.Pill).ToList();
    var pillsModel = new ResourceSelection("select-pill-dd", pills);

    var tarots = Model.Where(x => x.ResourceType == ResourceType.TarotCard).ToList();
    var tarotsModel = new ResourceSelection("select-tarot-dd", tarots);

    var runes = Model.Where(x => x.ResourceType == ResourceType.Rune).ToList();
    var runesModel = new ResourceSelection("select-rune-boxes", runes);

    var otherConsumables = Model.Where(x => x.ResourceType == ResourceType.OtherConsumable).ToList();
    var otherConsumablesModel = new ResourceSelection("select-other-consumable-boxes", otherConsumables);

    var trinkets = Model.Where(x => x.ResourceType == ResourceType.Trinket).ToList();
    var trinketsModel = new ResourceSelection("select-trinket-dd", trinkets);
}

@model List<IsaacResource>

<div style="display: flex;" id="menu-wrapper">
    <div style="width: 70%; display: flex; flex-direction: column;">
        <div style="height: 80vh">
            Youtube Video Placeholder
        </div>
        <div style="display: flex;">
            <div style="width: 50%;" id="quotes"></div>
            <div style="width: 50%; text-align: left;">
                <table id="history"></table>
            </div>
        </div>
    </div>
    <div style="width: 30%;">
        <div id="select-character" class="display-normal">
            <h3>Which Character did NL choose?</h3>
            <partial name="_IsaacResourceBoxesPartial" model="selectCharacterModel" />
        </div>

        <div id="select-mode" class="display-none">
            <h3>Which Game Mode is NL playing?</h3>
            <partial name="_IsaacResourceBoxesTextOnlyPartial" model="gameModes" />
        </div>

        <div id="select-floor" class="display-none">
            <partial name="_IsaacResourceBoxesPartial" model="firstFloorsModel" />
            <partial name="_DropdownPartial" model="floorsModel" />
        </div>
        <div id="select-curse" class="display-none">
            <h3>Is the floor cursed?</h3>
            <partial name="_DropdownPartial" model="cursesModel" />
        </div>
        <div id="select-absorber" class="display-none">
            <h3>How was the item absorbed?</h3>
            <partial name="_IsaacResourceBoxesPartial" model="absorbersModel" />
        </div>
        <div id="select-absorbed-item" class="display-none">
            <h3>What item was absorbed?</h3>
            <partial name="_DropdownPartial" model="absorbedItemModel" />
        </div>
        <div id="select-item-source" class="display-none">
            <h3>Where did the item come from?</h3>
            <p>Common Stuff</p>
            <partial name="_IsaacResourceBoxesPartial" model="itemSourceTopTenModel" />
            <p>Everything</p>
            <partial name="_DropdownPartial" model="itemSourceModel" />
        </div>
        <div id="select-item" class="display-none">
            <h3>Which Item did NL take?</h3>
            <partial name="_DropdownPartial" model="itemsModel" />
        </div>
        <div id="select-touched-item-source" class="display-none">
            <h3>Where did the item come from?</h3>
            <p>Common Stuff</p>
            <partial name="_IsaacResourceBoxesPartial" model="touchedItemSourceTopTenModel" />
            <p>Everything</p>
            <partial name="_DropdownPartial" model="touchedItemSourceModel" />
        </div>
        <div id="select-touched-item" class="display-none">
            <h3>Which Item did NL take?</h3>
            <partial name="_DropdownPartial" model="touchedItemsModel" />
        </div>
        <div id="select-boss" class="display-none">
            <h3>Which boss did NL fight?</h3>
            <p>Common on this floor</p>
            <partial name="_IsaacResourceBoxesPartial" model="bossModelTop10" />
            <p>All bosses</p>
            <partial name="_DropdownPartial" model="bossModel" />
        </div>
        <div id="select-reroll" class="display-none">
            <h3>How did NL reroll his character?</h3>
            <partial name="_IsaacResourceBoxesPartial" model="rerollModel" />
        </div>
        <div id="select-enemy" class="display-none">
            <h3>What killed Northernlion?</h3>
            <partial name="_DropdownPartial" model="enemiesModel" />
        </div>
        <div id="select-pill" class="display-none">
            <h3>What Pill was used?</h3>
            <partial name="_DropdownPartial" model="pillsModel" />
        </div>
        <div id="select-tarot" class="display-none">
            <h3>What Tarot Card was used?</h3>
            <partial name="_DropdownPartial" model="tarotsModel" />
        </div>
        <div id="select-rune" class="display-none">
            <h3>What rune was used?</h3>
            <partial name="_IsaacResourceBoxesPartial" model="runesModel" />
        </div>
        <div id="select-trinket" class="display-none">
            <h3>What trinket did NL take with him?</h3>
            <partial name="_DropdownPartial" model="trinketsModel" />
        </div>
        <div id="select-other-consumable" class="display-none">
            <h3>What was used?</h3>
            <partial name="_IsaacResourceBoxesPartial" model="otherConsumablesModel" />
        </div>
        <div id="next-run" class="display-none">
            <h3>Did Northernlion do another run?</h3>
            <p><button id="another-run-btn">NL did another run</button></p>
            <p><button id="victory-lap-btn">NL did a victory lap!</button></p>
            <p><button id="end-of-video-btn">No, this is the end of the video</button></p>
        </div>
        <div id="select-gameplay-events" class="display-none">
            <h3>What happened on the floor?</h3>
            <div class="box-container">
                <div class="box" id="collected-item-box">
                    <div>Item Collected</div>
                    <div style="background: url('/img/gameplay_events.png') -70px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box" id="bossfight-box">
                    <div>Bossfight</div>
                    <div style="background: url('/img/gameplay_events.png') -140px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box" id="character-reroll-box">
                    <div>Character Reroll</div>
                    <div style="background: url('/img/gameplay_events.png') -385px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box" id="sucked-up-item-box">
                    <div>Sucked Up Item</div>
                    <div style="background: url('/img/gameplay_events.png') -350px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box" id="select-enemy-box">
                    <div>Northernlion Died</div>
                    <div style="background: url('/img/gameplay_events.png') -35px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
            </div>
            <hr />

            <p>What got used?</p>
            <div class="box-container">
                <div class="box" id="select-pill-box">
                    <div>Pill</div>
                    <div style="background: url('/img/gameplay_events.png') -175px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box" id="select-tarot-box">
                    <div>Tarot Card</div>
                    <div style="background: url('/img/gameplay_events.png') -210px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box" id="select-rune-box">
                    <div>Rune</div>
                    <div style="background: url('/img/gameplay_events.png') -245px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box" id="select-trinket-box">
                    <div>Trinket</div>
                    <div style="background: url('/img/gameplay_events.png') -280px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box" id="select-other-consumable-box">
                    <div>Other Consumable</div>
                    <div style="background: url('/img/gameplay_events.png') -315px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/dist/submit_episode.min.js"></script>
}

