@{ 
    ViewData["Title"] = "Submit Episode";

    var characters = Model.Where(x => x.ResourceType == ResourceType.Character).ToList();
    var selectCharacterModel = new ResourceSelection("select-character-boxes", characters);

    var gameModes = new ResourceSelectionTextonly("select-mode-boxes", new List<(string name, int value)>()
    {
        ("Regular Game", (int)GameMode.Normal),
        ("Greed Mode", (int)GameMode.Greed),
        ("Special Challenge", (int)GameMode.SpecialChallenge),
        ("Something Else", (int)GameMode.Unspecified)
    });

    var floors = Model.Where(x => x.ResourceType == ResourceType.Floor).ToList();
    var firstFloors = floors.Where(x => x.Name == "Basement 1" || x.Name == "Cellar 1" || x.Name == "Burning Basement 1" || x.Name == "Greed Mode - Basement").ToList();
    var floorsModel = new ResourceSelection("select-floor-dd", floors);
    var firstFloorsModel = new ResourceSelection("select-floor-boxes", firstFloors);

    var curses = Model.Where(x => x.ResourceType == ResourceType.Curse).ToList();
    var cursesModel = new ResourceSelection("select-curse-dd", curses);
    
    var items = Model.Where(x => x.ResourceType == ResourceType.Item).ToList();
    var itemsModel = new ResourceSelection("select-item-dd", items);

    var itemSources = Model.Where(x => x.ResourceType == ResourceType.ItemSource).ToList();
    var itemSourceModel = new ResourceSelection("select-item-source-boxes", itemSources);

    var absorbers = Model.Where(x => x.Tags != null && x.Tags.Contains(Effect.AbsorbsOtherItems)).ToList();
    var absorbersModel = new ResourceSelection("select-absorber-boxes", absorbers);
    var absorbedItemModel = new ResourceSelection("select-absorbed-item-dd", items);
}

@model List<IsaacResource>

<div style="display: flex;" id="menu-wrapper">
    <div style="width: 70%;">
        Youtube Video Placeholder
    </div>
    <div style="width: 30%;">
        <div id="select-character" class="display-normal">
            <h3>Which Character did NL choose?</h3>
            <partial name="_IsaacResourceBoxesPartial" model="selectCharacterModel" />
        </div>

        <div id="select-mode" class="display-none">
            <h3>Which Game Mode is NL playing?</h3>
            <partial name="_IsaacResourceBoxesTextOnlyPartial" model="gameModes" />
        </div>

        <div id="select-floor" class="display-none">
            <partial name="_IsaacResourceBoxesPartial" model="firstFloorsModel" />
            <partial name="_DropdownPartial" model="floorsModel" />
        </div>
        <div id="select-curse" class="display-none">
            <h3>Is the floor cursed?</h3>
            <partial name="_DropdownPartial" model="cursesModel" />
        </div>
        <div id="select-absorber" class="display-none">
            <h3>How was the item absorbed?</h3>
            <partial name="_IsaacResourceBoxesPartial" model="absorbersModel" />
        </div>
        <div id="select-absorbed-item" class="display-none">
            <h3>What item was absorbed?</h3>
            <partial name="_DropdownPartial" model="absorbedItemModel" />
        </div>
        <div id="select-item-source" class="display-none">
            <h3>Where did the item come from?</h3>
            <partial name="_IsaacResourceBoxesPartial" model="itemSourceModel" />
        </div>
        <div id="select-item" class="display-none">
            <h3>Which Item did NL take?</h3>
            <partial name="_DropdownPartial" model="itemsModel" />
        </div>
        <div id="select-gameplay-events" class="display-none">
            <h3>What happened on the floor?</h3>
            <div class="box-container">
                <div class="box" id="collected-item-box">
                    <div>Item Collected</div>
                    <div style="background: url('/img/gameplay_events.png') -70px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box">
                    <div>Bossfight</div>
                    <div style="background: url('/img/gameplay_events.png') -140px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box">
                    <div>Character Reroll</div>
                    <div style="background: url('/img/gameplay_events.png') -385px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box" id="sucked-up-item-box">
                    <div>Sucked Up Item</div>
                    <div style="background: url('/img/gameplay_events.png') -350px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box">
                    <div>Death</div>
                    <div style="background: url('/img/gameplay_events.png') -35px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
            </div>
            <hr />

            <p>What got used?</p>
            <div class="box-container">
                <div class="box">
                    <div>Pill</div>
                    <div style="background: url('/img/gameplay_events.png') -175px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box">
                    <div>Tarot Card</div>
                    <div style="background: url('/img/gameplay_events.png') -210px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box">
                    <div>Rune</div>
                    <div style="background: url('/img/gameplay_events.png') -245px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box">
                    <div>Trinket</div>
                    <div style="background: url('/img/gameplay_events.png') -280px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
                <div class="box">
                    <div>Other Consumable</div>
                    <div style="background: url('/img/gameplay_events.png') -315px 0px; width:35px; height: 35px; display: inline-block; vertical-align: bottom"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/dist/submit_episode.min.js"></script>
}

