<ol start="0">
    <li>Nowhere</li>
    <li>Every Isaac Version</li>
    <li>Vanilla (Flash) Exclusive</li>
    <li>Wrath of the Lamb (Flash) Expansion Exclusive</li>
    <li>Community Remix Exclusive</li>
    <li>Rebirth Exclusive</li>
    <li>Afterbirth Exclusive</li>
    <li>Antibirth Exclusive</li>
    <li>Afterbirth Plus Exclusive</li>
    <li>Repentance Exclusive</li>
    <li>Booster Pack 1 Exclusive</li>
    <li>Booster Pack 2 Exclusive</li>
    <li>Booster Pack 3 Exclusive</li>
    <li>Booster Pack 4 Exclusive</li>
    <li>Booster Pack 5 Exclusive</li>
    <li>Vanilla (Flash) and all versions going forward</li>
    <li>Wrath of the Lamb (Flash) and all versions going forward</li>
    <li>CommunityRemix and all versions going forward</li>
    <li>Rebirth and all versions going forward</li>
    <li>Afterbirth and all versions going forward</li>
    <li>Anitbirth and all versions going forward</li>
    <li>Afterbirth Plus and all versions going forward</li>
    <li>Booster Pack 1 and all versions going forward</li>
    <li>Booster Pack 2 and all versions going forward</li>
    <li>Booster Pack 3 and all versions going forward</li>
    <li>Booster Pack 4 and all versions going forward</li>
    <li>Booster Pack 5 and all versions going forward</li>
    <li>Repentance and all versions going forward</li>
    <li>Unspecified</li>
    <li>Antibirth, Repentance and all versions after Repentance</li>
    <li>Community Remix and Antibirth</li>
    <li>Community Remix, Antibirth, Repentance and all versions after Repentance</li>
    <li>Community Remix, Antibirth, Afterbirth and all versions after Afterbirth</li>
    <li>Vanilla and Wrath of the Lamb (Flash Versions Exclusive)</li>
    <li>Community Remix, Rebirth and all versions after Rebirth</li>
</ol>