<ol start="0">
    <li>All Modes</li>
    <li>Normal Only</li>
    <li>Hard Only</li>
    <li>Greed Mode Only</li>
    <li>Greedier Mode Only</li>
    <li>Special Challenge</li>
    <li>Special Seed</li>
    <li>Unspecified</li>
    <li>Hard and Normal Mode</li>
    <li>Community Challenge Specific</li>
    <li>Greed and Greedier Mode</li>
</ol>