<ol start="0">
    <li>Unspecified</li>
    <li>Character Died</li>
    <li>Item Collected</li>
    <li>Down to the next Floor!</li>
    <li>Bossfight</li>
    <li>Pill used</li>
    <li>Tarot Card used</li>
    <li>Rune used</li>
    <li>Trinket taken</li>
    <li>Floor was Cursed</li>
    <li>Other Consumable used</li>
    <li>Transformation Complete</li>
    <li>Transformation Progress</li>
    <li>Last Floor</li>
    <li>Absorbed Item</li>
    <li>Character Reroll</li>
    <li>Won the run</li>
    <li>Lost the run</li>
    <li>Item Touched (picked up and put down again right away)</li>
    <li>Starting Trinket</li>
    <li>Clicker (changed character with the clicker)</li>
    <li>Reroll Transform (transformation that happened after rerolling the character)</li>
    <li>Respawn (respawning after death due to extra lives)</li>
</ol> 
    