<ol start="0">
    <li>Unspecified (unused, can be ignored)</li>
    <li>
        Character Died
        <ol>
            <li>ID of the enemy that killed the character</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Item Collected
        <ol>
            <li>ID of the item that was collected</li>
            <li>ID of the item source that spawned the item (for example "ItemRoom" or "DemonJudgement")</li>
        </ol>
    </li>
    <li>
        Down to the next Floor!
        <ol>
            <li>The floor on which we are from now on</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Bossfight
        <ol>
            <li>ID of the boss</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Pill used
        <ol>
            <li>ID of the Pill</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Tarot Card used
        <ol>
            <li>ID of the Tarot Card</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Rune used
        <ol>
            <li>ID of the Rune</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Trinket taken
        <ol>
            <li>ID of the Trinket that was used from now on</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Floor was Cursed
        <ol>
            <li>ID of the curse that was present on this floor</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Other Consumable used
        <ol>
            <li>ID of the consumable</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Transformation Complete
        <ol>
            <li>The ID of the item that triggered the transformation completion</li>
            <li>The ID of the transformation</li>
        </ol>
    </li>
    <li>
        Transformation Progress
        <ol>
            <li>The ID of the item that contributed to the transformation progress</li>
            <li>The ID of the transformation</li>
            <li>How far into the transformation we are: for example if this is 2, this was guppy item number 2</li>
        </ol>
    </li>
    <li>
        Last Floor (unused, ignore!)
    </li>
    <li>
        Absorbed Item
        <ol>
            <li>The ID of the item that was absorbed</li>
            <li>The ID of the thing that absorbed the item (for example the void or black rune)</li>
        </ol>
    </li>
    <li>
        Character Reroll
        <ol>
            <li>The ID of the thing that rerolled the character (for example D100 or the 6-Room)</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Won the run
        <ol>
            <li>The ID of the character who won the run (for example "Isaac" or "TheLost")</li>
            <li>The ID of the floor on which the run ended ("BasementOne" or "WombTwo")</li>
        </ol>
    </li>
    <li>
        Lost the run
        <ol>
            <li>The ID of the character who died (for example "Isaac" or "TheLost")</li>
            <li>The ID of the floor on which the run ended ("BasementOne" or "WombTwo")</li>
        </ol>
    </li>
    <li>
        Item Touched (picked up and put down again right away)
        <ol>
            <li>ID of the item that was touched</li>
            <li>ID of the item source that spawned the item (for example "ItemRoom" or "DemonJudgement")</li>
        </ol>
    </li>
    <li>
        Starting Trinket
        <ol>
            <li>ID of the trinket with which the character started</li>
            <li>-</li>
        </ol>
    </li>
    <li>
        Clicker (changed character with the clicker)
        <ol>
            <li>Is always "Clicker"</li>
            <li>The ID of the new character</li>
        </ol>
    </li>
    <li>
        Reroll Transform (transformation that happened after rerolling the character)
        <ol>
            <li>ID of the thing that rerolled the character</li>
            <li>ID of the transformation that took place</li>
        </ol>
    </li>
    <li>
        Respawn (respawning after death due to extra lives)
        <ol>
            <li>ID of the enemy that killed the character</li>
            <li>-</li>
        </ol>
    </li>
</ol>
