@model ResourceSelectionTextonly

<div class="box-container" data-id="@Model.SelectionId">
    @foreach (var resource in Model.IsaacResources)
    {
        <div class="box" data-id="@resource.value">
            <div>@resource.name</div>
        </div>
    }
</div>