<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>The Northernlion Database - @ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/src/forms.css" />
        <link rel="stylesheet" href="~/css/src/global.css" />
        <link rel="stylesheet" href="~/css/src/table.css" />
        <link rel="stylesheet" href="~/css/src/video-list.css" />
        <link rel="stylesheet" href="~/css/src/dropdown-menu.css" />
        <link rel="stylesheet" href="~/css/src/character-box.css" />
        <link rel="stylesheet" href="~/css/src/select-floor.css" />
        <link rel="stylesheet" href="~/css/src/history.css" />
        <link rel="stylesheet" href="~/css/src/navigation.css" />
        <link rel="stylesheet" href="~/css/src/charts.css" />
        <link rel="stylesheet" href="~/css/src/isaac-image.css" />
        <link rel="stylesheet" href="~/css/src/quote.css" />
        <link rel="stylesheet" href="~/css/src/submit-video.css" />
        <link rel="stylesheet" href="~/css/src/video-stats.css" />
        <link rel="stylesheet" href="~/css/src/frontpage.css" />
        <link rel="stylesheet" href="~/css/src/identity.css" />
        <link rel="stylesheet" href="~/css/src/popup.css" />
        <link rel="stylesheet" href="~/css/src/modal.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/dist/bundle.min.css" />
    </environment>
    <link href="~/css/dist/Chart.min.css" rel="stylesheet" />
    <link href="~/css/dist/driver.min.css" rel="stylesheet" />
</head>
<body id="body">
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
