<!DOCTYPE html>
<html>

@{
    bool showNavigation = true;
    if (ViewData.ContainsKey("HideNavigation") && (bool)ViewData["HideNavigation"] == true)
    {
        showNavigation = false;
    }

    var mainTagWidthClass = showNavigation ? "w80" : "w100";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>The Northernlion Database - @ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/src/forms.css" />
        <link rel="stylesheet" href="~/css/src/global.css" />
        <link rel="stylesheet" href="~/css/src/table.css" />
        <link rel="stylesheet" href="~/css/src/video-list.css" />
        <link rel="stylesheet" href="~/css/src/dropdown-menu.css" />
        <link rel="stylesheet" href="~/css/src/character-box.css" />
        <link rel="stylesheet" href="~/css/src/select-floor.css" />
        <link rel="stylesheet" href="~/css/src/history.css" />
        <link rel="stylesheet" href="~/css/src/video-page.css" />
        <link rel="stylesheet" href="~/css/src/navigation.css" />
        <link rel="stylesheet" href="~/css/src/charts.css" />
        <link rel="stylesheet" href="~/css/src/isaac-image.css" />
        <link rel="stylesheet" href="~/css/src/quote.css" />
        <link rel="stylesheet" href="~/css/src/submit-video.css" />
        <link rel="stylesheet" href="~/css/src/video-stats.css" />
        <link rel="stylesheet" href="~/css/src/frontpage.css" />
        <link rel="stylesheet" href="~/css/src/identity.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/dist/bundle.min.css" />
    </environment>
</head>
<body>
    @if (showNavigation)
    {
        <partial name="_NavigationPartial" />
    }
    <main role="main" class="@mainTagWidthClass" id="main-container">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
