<nav class="w20" id="nav">
    <h3 class="l">Learn more about...</h3>
    <a class="nav-point" 
       asp-controller="@Website.Controllers.VideosController.Controllername" 
       asp-action="@nameof(Website.Controllers.VideosController.Index)" 
       asp-area="@null">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -70px 0 transparent;"></div>
        Collected Items
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -140px 0 transparent;"></div>
        Bossfights
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -455px 0 transparent;"></div>
        Played Characters
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -420px 0 transparent;"></div>
        Item Sources
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -490px 0 transparent;"></div>
        Quotes
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -105px 0 transparent;"></div>
        Floors
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -525px 0 transparent;"></div>
        Transformations
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -385px 0 transparent;"></div>
        Character Rerolls
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -560px 0 transparent;"></div>
        Curses
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -175px 0 transparent;"></div>
        Swallowed Pills
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -245px 0 transparent;"></div>
        Used Runes
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -210px 0 transparent;"></div>
        Used Tarot Cards
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -280px 0 transparent;"></div>
        Collected Trinkets
    </a>
    <a class="nav-point">
        <div class="nav-icon" style="background: url('/img/gameplay_events.png') -315px 0 transparent;"></div>
        Other Consumables
    </a>
</nav>

