<ol start="0">
    <li>Unspecified</li>
    <li>Boss</li>
    <li>Playable Character</li>
    <li>Curse</li>
    <li>Other Event</li>
    <li>Floor</li>
    <li>Item</li>
    <li>Item Source (example: Item Room)</li>
    <li>Pill</li>
    <li>Rune</li>
    <li>Tarot Card</li>
    <li>Enemy</li>
    <li>Transformation</li>
    <li>Trinket</li>
    <li>Character Reroll (example: D100)</li>
    <li>Other Consumable</li>
</ol>