<h3>Which Game Mode is NL playing?</h3>

<p><button data-id="@((int)GameMode.Normal)">Regular Game</button></p>
<p><button data-id="@((int)GameMode.Greed)">Greed Mode</button></p>
<p><button data-id="@((int)GameMode.SpecialChallenge)">Special Challenge</button></p>
<p><button data-id="@((int)GameMode.Unspecified)">Something Else</button></p>
