@model NldbVideoResult

@{
    int pageCounter = 1;
}

<h1>@Model.Header</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p>@Model.Description</p>
}

<div>
    <p>
        Items per Page:
        <select id="items-per-page">
            <option value="50" selected>50</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="200">200</option>
        </select>
        <input type="text" id="search" placeholder="search..." />
    </p>
</div>

<div id="pagination">
    @for (int i = 0; i <= Model.VideoCount; i += Model.AmountPerPage)
    {
        if (i is 0)
        {
            <a class="active-page">@pageCounter</a>
        }
        else
        {
            <a>@pageCounter</a>
        }
        pageCounter++;
    }
</div>

<table id="video-table"></table>