.input-error {
    box-shadow: 0 0 10px orange;
}
.error-message {
    color: darkorange;
}
.display-normal {
    display: normal;
}
.display-none {
    display: none;
}
.display-table-cell {
    display: table-cell;
}
form {
    display: block;
}