@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Northernlion Database!</h1>

<p>A database dedicated to the best Let's Play series on the internet.</p>
<hr/>

<p>Choose a topic to learn more:</p>

<div id="topics">
    <div class="topics-row">
        <div class="topic" id="episodes">
            <div style="background: url('/img/frontpage.png') 0px -100px transparent"></div>
            <p>Isaac Episodes</p>
        </div>
        <div class="topic" id="items">
            <div style="background: url('/img/frontpage.png') 0px -241px transparent"></div>
            <p>Items</p>
        </div>
        <div class="topic" id="quotes">
            <div style="background: url('/img/frontpage.png') 0px -382px transparent"></div>
            <p>Northernlion Quotes</p>
        </div>
    </div>

    <div class="topics-row">
        <div class="topic" id="sources">
            <div style="background: url('/img/frontpage.png') 0px -523px transparent"></div>
            <p>Item Sources</p>
        </div>
        <div class="topic" id="bosses">
            <div style="background: url('/img/frontpage.png') 0px -664px transparent"></div>
            <p>Bosses</p>
        </div>
        <div class="topic" id="characters">
            <div style="background: url('/img/frontpage.png') 0px -805px transparent"></div>
            <p>Characters</p>
        </div>
    </div>

    <div class="topics-row">
        <div class="topic" id="floors">
            <div style="background: url('/img/frontpage.png') 0px -946px transparent"></div>
            <p>Floors</p>
        </div>
        <div class="topic" id="rng">
            <div style="background: url('/img/frontpage.png') 0px -1369px transparent"></div>
            <p>Random Episode Generator</p>
        </div>
        <div class="topic" id="transformations">
            <div style="background: url('/img/frontpage.png') 0px -1228px transparent"></div>
            <p>Transformations</p>
        </div>
    </div>
</div>

<div id="top-contributors-container">
    <div class="fp-contributors-header">
        <h3>Big thanks to our top contributors!!</h3>
    </div>

    <div style="background: url('/img/frontpage.png') 0px -1560px transparent; width: 50px; height: 50px;" class="fp-right"></div>
    <p class="fp-left">Rank 1: <strong><span id="number-one"></span></strong> (<span id="number-one-amount"></span> contributions)</p>
    <div style="background: url('/img/frontpage.png') -50px -1560px transparent; width: 50px; height: 50px;" class="fp-right"></div>
    <p class="fp-left">Rank 2: <strong><span id="number-two"></span></strong> (<span id="number-two-amount"></span> contributions)</p>
    <div style="background: url('/img/frontpage.png') -100px -1560px transparent; width: 50px; height: 50px;" class="fp-right"></div>
    <p class="fp-left">Rank 2: <strong><span id="number-three"></span></strong> (<span id="number-three-amount"></span> contributions)</p>

    <div class="fp-contributors-header">
        <h3>...and all the other major contributors!</h3>
    </div>
    <div style="padding: 0 20%; background-color: transparent; font-size: 1.1rem; border-top: none;" class="fp-contributors-header">
        <p id="major-contributors" style="padding-top: 0;"></p>
    </div>
</div>

<div id="fp-stats-container">
    <div class="fp-stats-header">
        <h3>So far, <span id="number-of-videos"></span> videos have been added to the database. In those videos, Northernlion...</h3>
    </div>

    <div class="fp-right" style="background: url('/img/frontpage.png') 0px -1510px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left l">...picked up <span id="num-items"></span> items</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -50px -1510px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left l">...fought <span id="num-bosses"></span> bosses</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -100px -1510px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left l">...went through <span id="num-floors"></span> floors</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -150px -1510px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left l">...played for <span id="days"></span> full days, <span id="hours"></span> hours, <span id="minutes"></span> minutes and <span id="seconds"></span> seconds.</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') 0px -1610px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left l">...played <span id="num-chars"></span> characters</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -150px -1560px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left l">...lost <span id="num-deaths"></span> runs</div>


    <div class="fp-stats-header">
        <h3>On an average run, Northernlion...</h3>
    </div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -50px -1610px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left">collects <span id="avg-items"></span> items</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -100px -1610px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left">fights <span id="avg-bosses"></span> bosses</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -150px -1610px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left">buys <span id="avg-shop"></span> items from the shop</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') 0px -1660px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left">goes through <span id="avg-floors"></span> floors</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -50px -1660px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left">dies <span id="avg-deaths"></span> times</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -100px -1660px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left">picks up <span id="avg-chest"></span> items from the chest</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') -150px -1660px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left">transforms <span id="avg-transformations"></span> times</div>

    <div class="fp-right" style="background: url('/img/frontpage.png') 0px -1710px transparent; width: 50px; height: 50px;"></div>
    <div class="fp-left">has a <span id="avg-win"></span>% chance of winning</div>
</div>

<div style="width: 100%; height: 300px;"></div>


@section Scripts {
    <script src="~/js/dist/frontpage.min.js" asp-append-version="true"></script>
}