<!DOCTYPE html>
<html>
<head>
    <script src="~/js/oidc-client.slim.min.js" asp-append-version="true"></script>
    <script src="~/js/silent-signin-callback.js" asp-append-version="true"></script>
</head>
<body>

</body>
</html>

