@{ 
    ViewData["Title"] = "Add Normal Login";
}

@model AddNormalLoginModel

<h1>Add regular e-mail / password login to your account</h1>

@Html.ValidationSummary()

<form method="post">
    <section class="myaccount-grid">
        <div>
            <label asp-for="Email"></label>
        </div>
        <div>
            <input type="text" asp-for="Email" />
            <div class="error-message"></div>
        </div>

        <div>
            <label asp-for="Password"></label>
        </div>
        <div>
            <input type="password" asp-for="Password" />
            <div class="error-message"></div>
        </div>

        <div>
            <label asp-for="ConfirmPassword"></label>
        </div>
        <div>
            <input type="password" asp-for="ConfirmPassword" />
            <div class="error-message"></div>
        </div>

        <div class="width-two">
            <button type="submit">Add Email / Password Login</button>
        </div>
    </section>
</form>


@section Scripts {
    <script src="~/js/dist/validation.min.js"></script>
}