@{ 
    ViewData["Title"] = "Change Password";
}

@model ChangePasswordModel

<h1>Password Change</h1>

@Html.ValidationSummary()

<form method="post">
    <div>
        <label asp-for="CurrentPassword"></label>
        <input type="password" asp-for="CurrentPassword" data-required />
        <div class="error-message"></div>
    </div>
    <div>
        <label asp-for="NewPassword"></label>
        <input type="password" asp-for="NewPassword" data-required />
        <div class="error-message"></div>
    </div>
    <div>
        <label asp-for="ConfirmNewPassword"></label>
        <input type="password" asp-for="ConfirmNewPassword" data-required />
        <div class="error-message"></div>
    </div>
    <div>
        <button type="submit">Change my password</button>
    </div>
</form>

@section Scripts  {
    <script src="~/js/dist/validation.min.js"></script>
}

