@{
    ViewData["Title"] = "Change Password";
}

@model ChangePasswordModel

<h1>Password Change</h1>

@Html.ValidationSummary()

<form method="post">
    <section class="myaccount-grid">
        <div>
            <label asp-for="CurrentPassword"></label>
        </div>
        <div>
            <input type="password" asp-for="CurrentPassword" data-required />
            <div class="error-message"></div>
        </div>

        <div>
            <label asp-for="NewPassword"></label>
        </div>
        <div>
            <input type="password" asp-for="NewPassword" data-required />
            <div class="error-message"></div>
        </div>

        <div>
            <label asp-for="ConfirmNewPassword"></label>
        </div>
        <div>
            <input type="password" asp-for="ConfirmNewPassword" data-required />
            <div class="error-message"></div>
        </div>
    </section>
    <div class="width-two">
        <button type="submit">Change my password</button>
    </div>
</form>




@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
