@{
    ViewData["Title"] = "Email Change";
}

@model ChangeEmailModel

<h1>Email Change</h1>

<p>Please enter the new e-mail address you want to use below.</p>
<p>An e-mail confirmation link will be sent to the new address.</p>

<form method="post">
    <section class="myaccount-grid">
        <div>
            <label asp-for="Email"></label>
        </div>
        <div>
            <input type="text" asp-for="Email" data-email data-required />
            <div class="error-message"></div>
        </div>

        <div class="width-two">
            <button type="submit">Change E-Mail</button>
        </div>
    </section>
</form>


@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}


