@{
    ViewData["Title"] = "Username Change";
}

@model ChangeUsernameModel

<h1>Username Change</h1>

<form method="post">
    <section class="myaccount-grid">
        <div>
            <label asp-for="NewUsername"></label>
        </div>
        <div>
            <input type="text" asp-for="NewUsername" data-required />
            <div class="error-message"></div>
        </div>
        <div class="width-two">
            <button type="submit">Change Username</button>
        </div>
    </section>
</form>



@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
