@{
    ViewData["Title"] = "Link sent!";
}

<h1>Success!</h1>

<p>A new e-mail confirmation link should appear in your inbox any moment!</p>



@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
