@{
    ViewData["Title"] = "Confirm E-Mail";
}

<h1>E-Mail Confirmation</h1>

<p>Click the button below to get a new e-mail confirmation link.</p>

@Html.ValidationSummary()

<form asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.ConfirmEmailAgainLinkSent)" method="post">
    <button type="submit">Send confirmation link</button>
</form>


@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
