@{
    ViewData["Title"] = "Delete Account";
    var userHasPassword = (bool)ViewData["UserHasPassword"];
}

@model DeleteAccountInputModel

<h1>Deleting your account</h1>

@Html.ValidationSummary()


<p class="orange">
    WARNING! Deleting your account cannot be reversed! Don't do this until you are sure about it.
</p>
<form method="post">
    <section class="myaccount-grid">
        @if (userHasPassword)
        {
            <div>
                <label asp-for="Password"></label>
            </div>
            <div>
                <input asp-for="Password" type="password" data-required />
                <div class="error-message"></div>
            </div>
        }
        else
        {
            <div>
                <label asp-for="UserNameOrEmail"></label>
            </div>
            <div>
                <input asp-for="UserNameOrEmail" type="text" data-required />
                <div class="error-message"></div>
            </div>
        }
        <div class="width-two">
            <button type="submit">Delete my account</button>
        </div>
    </section>
</form>



@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
