@{ 
    ViewData["Title"] = "Delete Account";
    var userHasPassword = (bool)ViewData["UserHasPassword"];
}

@model DeleteAccountInputModel

<h1>Deleting your account</h1>

@Html.ValidationSummary()

<form method="post">
    @if (userHasPassword)
    {
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" data-required />
            <div class="error-message"></div>
        </div>
    }
    else
    {
        <div>
            <label asp-for="UserNameOrEmail"></label>
            <input asp-for="UserNameOrEmail" type="text" data-required />
            <div class="error-message"></div>
        </div>
    }
    <button type="submit">Delete my account</button>
</form>

@section Scripts {
    <script src="~/js/dist/validation.min.js"></script>
}