@{
    ViewData["Title"] = "Email Change Failed";
}

<h1>An error has occurred</h1>

<p>An error has occurred while changing the e-mail address. Maybe the link has exired! Please go back to your profile and try again.</p>


@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
