@{
    ViewData["Title"] = "Normal Login Added!";
}

<h1>Success!</h1>

<p>E-mail / password login is now enabled for your account.</p>

<p>
    An e-mail confirmation link should appear in your inbox any moment!<br />
    Confirming your e-mail address will enable password reset as well.
</p>

<p>
    <a asp-action="@nameof(MyAccountController.Index)" asp-controller="@MyAccountController.Controllername" asp-area="">Back to account settings</a>
</p>

@section Scripts {
    <script src="~/js/dist/runtime.min.js"></script>
    <script src="~/js/dist/aspnetcore_formvalidation.min.js"></script>
}
