@{ 
    ViewData["Title"] = "Registration Complete";
}

<h1>Your account has been created!</h1>

<p>Please confirm your e-mail address - a confirmation email should appear in your inbox any moment.</p>

<p>
    <a asp-controller="@MyAccountController.Controllername" asp-action="@nameof(MyAccountController.Index)">View Profile settings</a>
</p>