@{ 
    ViewData["Title"] = "Northernlion Quotes";
}

<h1>Welcome to the Northernlion Quotes Section!</h1>
<hr/>


<h3>Random Quotes</h3>
<p>
    <button id="refresh-random-quotes">Refresh Random Quotes!</button> <br/> <br/>
    Change Amount: <input type="number" id="random-quotes-amount" value="10" min="1" max="50"/>
</p>
<div id="random-quotes"></div>
<hr/>


<h3>Newest Quotes</h3>
<p>
    Amount: <input type="number" id="recent-quotes-amount" value="10" min="1" max="50"/>
</p>
<div id="recent-quotes"></div>
<hr/>


<h3>Search for Quotes</h3>
<p>
    <input type="text" id="search-quotes-text" placeholder="3 characters minimum :)" size="30" maxlength="30"/>
</p>
<div id="search-quotes"></div>


@section Scripts {
    <script src="~/js/dist/quotes.min.js" asp-append-version="true"></script>
}

