@{ 
    ViewData["Title"] = "Change Icon";
}

@model ChangeIcon

<h1>Changing Icon for Resource with ID '@Model.ResourceId'</h1>

@Html.ValidationSummary()

<form method="post" enctype="multipart/form-data" id="submit-icon-form">
    <input type="hidden" asp-for="ResourceId" />

    <div>
        <label asp-for="NewIcon"></label><br/>
        <input type="file" asp-for="NewIcon" id="choose-file"/>
        <div class="error-message"></div>
    </div>
    <div>
        <button type="submit">Save new Icon</button>
    </div>
</form>

@section Scripts {
    <script src="~/js/dist/validation.min.js"></script>
}
