@{ 
    ViewData["Title"] = "Admin Area";
}

<h1>Admin Area</h1>

<hr/>

<p>
    <a asp-controller="@ModsController.Controllername" asp-action="@nameof(ModsController.Index)">Manage Mods</a>
</p>





